.header {
  margin-top: 24px;
  margin-bottom: 22px;


  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;


    .logo {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      letter-spacing: 0.03em;
      color: $color-blue;

    }

    .navbar__menu {
      width: 240px;
      display: flex;
      flex-basis: calc( (100% - 60px) / 3);
      align-items: center;
      justify-content: space-between;
      list-style-type: none;
    

      .navbar__list {
        position: relative;

        .navbar__link {
          color: black;
          text-decoration: none;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.02em;
        }

        .navbar__link:hover,
        .navbar__link:focus {
          color: $color-blue;
          outline: none;
        }

        .navbar__link::after {
          content: "";
          position: absolute;
          bottom: -28px;
          left: 0;
          width: 0;
          height: 4px;
          background: $color-blue;
          border-radius: 12px;
        }

        .navbar__link:hover::after {
          width: 100%;
        }

      }




    }

    .booking {
      display: flex;
      align-items: center;
      justify-content: space-between;



      .booking__link2 {
        position: relative;
        text-align: end;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: $color-text;
        text-decoration: none;

        .booking__icon {
          position: absolute;
          fill: #757575;
          left: 0px;
        }

        .booking__icon--sobre {
          height: 12px;
          width: 16px;
          top: 2px;
        }
      }

      .booking__link2--email {
        margin-right: 30px;
        width: 161px;
      }

      .booking__link2--phone {
        width: 142px;

        .booking__icon--phone {
          height: 16px;
          width: 10px;
          top: 0px;
          
        }
      }

      .booking__link2:hover {
        color: $color-blue;
        outline: none;
      }

      .booking__link2:hover .booking__icon,
      .booking__link2:focus .booking__icon {
        color: $color-blue;
        outline: none;
        fill: $color-blue;
      }

    }

    .menu-toggle {
      min-height: 40px;
      min-width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      background-color: transparent;
      cursor: pointer;
      border: none;
      border-radius: 50%;
      outline: none;

      .svg_hamburger {
        width: 24px;
        height: 24px;
      }

      .svg_hamburger:hover,
      .svg_hamburger:focus {

        fill: #2196f3;

      }
    }

    .menu-container.is-open {
      transform: translateX(0);
    }

    .menu-container {
      position: fixed;
      top: 12px;
      left: 2px;
      width: 100%;
      height: 100vh;
      background-color: #fff;
      z-index: 999;
      transform: translateX(100%);
      transition: transform 250ms ease-in-out;


      .menu-toggle {
        position: absolute;
        top: 0px;
        left: 440px;
        background-color: white;
        width: 24px;
        height: 24px;
        border: none;

        .svg_close {
          width: 24px;
          height: 24px;
        }

        .svg_close:hover,
        .svg_close:focus {
          fill: #2196f3;

        }

      }

      .mobile-menu {
        padding: 0;
        margin: 0;
        margin-top: 32px;
        margin-bottom: 300px;
        list-style: none;

        .link {
          display: block;
          margin-left: 40px;
          text-decoration: none;

          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 40px;
          line-height: 47px;
          letter-spacing: 0.02em;
          color: #212121;
        }

        .link:hover {
          color: #2196f3;
        }
      }

      .num_contact {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        margin-left: 40px;
        margin-bottom: 32px;
        letter-spacing: 0.02em;
        color: #2196f3;
      }

      .email_contact {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #757575;
        margin-left: 40px;
        margin-bottom: 64px;
      }

      .info_social_network {
        display: flex;
        list-style: none;

        .link {
          margin-right: 20px;
          text-decoration: none;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 0.02em;
          color: #2196f3;
        }

      }

    }

  }

  /*cierre header_container*/
}

/*cierre header*/

@include screen-1200{
  .header{
    .container{
    width: 100vw;
    padding: 0;
    }
    .header_container{
      .logo{
        padding-left: 15px;
      }
      .booking{
        padding-right: 15px;
      }
    }

  }

}

@include screen-480-min {

  .header {
    .header_container {
      .menu-container {
        display: none;
      }

      .menu-toggle {
        display: none;
      }
    }

  }
  /*cierre header*/
}

@include screen-768 {

  .header {

      .container {
          width: 100vw;
          padding: 0;

        }

        .header_container {

          .logo {
             padding-left: 0px;
            font-size: 24px;
          }

          .booking {
            flex-direction: column;
            justify-content: start;
           
            // padding-right: 15px;
            .booking__link2--email {
                margin: 0;
              }

              .booking__link2--phone {
                // margin-right: 20px;
                margin-top: 10px;
                font-size: 12px;
                padding: 0;
                 width: 161px;
          .booking__icon--phone {
              left: 3px;
                               }

              }                           
                       
          }

.navbar {

  .navbar__menu {
    width: 200px;
    flex-basis: calc((100% - 30px) / 3);
  }

}


        }

      }




  }

  /*cierre header*/






@include screen-480 {

  .header {
    .header_container {
      width: 450px;

      .booking {
        display: none;
      }

      .navbar {
        display: none;
      }


    }

  }

  /*cierre header*/

}