.section3 {
  margin-bottom: 94px;

  &__tittle2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: $color-text-dark;
  }

  &__list {
    @include flex(normal, center);
    margin-bottom: 94px;
    list-style-type: none;

    .section3__box {
      @include flex(flex-end, center);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 30px;
      width: 370px;
      height: 294px;
    }

    .section3__box--1 {
      background: url(../images/pc.jpg);
    }
    .section3__box--2 {
      background: url(../images/cel.jpg);
    }

    .section3__box--3 {
      background: url(../images/tablet.jpg);
    }
  }

  .section3__sub-box {
    width: 370px;
    height: 70px;
    background: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));

    .section3__parrafo {
      margin: 27px;
      color: $color-white;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: center;
      width: 310px;
    }
  }
}
