
.section2{
    margin-bottom: 94px;


    &__caracteristicas {
        display: flex;
        list-style-type: none;
        margin-top: 0px;
        margin-bottom: 0px;
        gap:30px;
    }
        &__list {
        
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        width: 270px;
        }

            &__container {
                
                @include flex(center, center);

                width: 270px;
                height: 120px;
                background: $color-svg-section25;
                border-radius: 4px;
                margin-bottom: 30px;
            }


                &__svg {
                    height: 70px;
                    width: 70px;
                }




        &__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.06em;
        color:  $color-text-dark;
        }

        
        &__parrafo {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: $color-text;
            justify-content: center;
        
        }


}
 
  
 
  
  
  
  
