.container{

.section2 {
  margin-bottom: 94px;

 
    .section2__caracteristicas {
      display: flex;
      
      list-style-type: none;
      margin-top: 0px;
      margin-bottom: 0px;
      gap: 30px;
flex-wrap:wrap;
justify-content: center;

      .section2__list {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        width: 270px;
        

        .section2__container {
          @include flex(center, center);

          // width: 270px;
          // flex-basis: calc((100% - 90px) / 4);
          height: 120px;
          background: $color-svg-section25;
          border-radius: 4px;
          margin-bottom: 30px;

          .section2__svg {
            height: 70px;
            width: 70px;
          }
        }

        .section2__title {
          font-weight: 700;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.06em;
          color: $color-text-dark;
        }

        .section2__parrafo {
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.03em;
          color: $color-text;
          justify-content: center;
        }
      }
    }
  }
}

@include screen-1200{

    .container{
        width:100vw;
        padding: 0;
        height: auto;

    .section2 {
        
        .section2__caracteristicas {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}
}




@include screen-768{

  .container{
      width:738px;
      
      

  .section2 {
    height: auto;
      
      .section2__caracteristicas {
          justify-content: center;
          flex-wrap: wrap;
      }
  }
}
}
@include screen-480{

    .container{
        width:450px;
          height: auto;
            margin-bottom: 60px;

    .section2 {
    
        
        .section2__caracteristicas {
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}
}