
.backdrop {
    @include flex(center, center);
margin-top: 30px;
    background-color: hsla(0, 0%, 0%, 0.2);
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    pointer-events: none;
    opacity: 0;
}

.modal {
    background-color: $color-white;
    width: 528px;
    height: 581px;
    opacity: 1;
    padding: 40px;
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    transform: translateY(0);
    justify-content: end;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

        &__close {
            position: absolute;
            top: 9px;
            right: 9px;
            background-color: transparent;
            border-radius: 50%;
            border-color: rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }

        &__close:hover,
        &__close:focus {
        cursor: pointer;
        color: $color-blue;
        }

        .modal-title {
            display: block;
            text-align: center;
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            letter-spacing: 0.03em;
            margin-bottom: 12px;
            color:  $color-text-dark;
        }

         .Request-form{

            &__label {
                color: $color-text;

                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
            }

            &__input-group{
                margin-bottom: 10px;
                position: relative;
                cursor: pointer;
                display: block;
            }

            &__input {
                display: block;
                width: 100%;
                height: 35px;
                cursor: pointer;
                border: 1px solid rgba(33, 33, 33, 0.2);
                border-radius: 4px;
                outline: none;
                margin-top: 4px;
            }


            &__input:hover + .Request-form__svg,
            &__input:focus + .Request-form__svg {
            fill: $color-blue;
            }

            &__svg:hover {
            fill:$color-blue;
            }

            &__input-group:hover .Request-form__input,
            &__input-group:focus .Request-form__input {
            border: 1px solid $color-blue;
            }

            &__svg{
                position: absolute;
                width: 18px;
                height: 18px;
                top: 11px;
                left: 12px;
                fill:  $color-text-dark;
            }

            &__commit {
                outline: none;
                display: block;
                width: 100%;
                border: 1px solid rgba(33, 33, 33, 0.2);
                border-radius: 4px;
                height: 120px;
                color:  $color-text-dark;
            }

            &__label--check {
                display: block;
                padding-left: 30px;
                margin-top: 20px;
            }

            &__check {
                margin-top: 20px;
                position: absolute;
                clip: rect(0 0 0 0);
                width: 1px;
                height: 1px;
                margin: -1px;
                background-color: $color-blue;
                width: 16px;
                height: 15px;
            }

            .check__box {
                position: absolute;
                margin-top: 0.2em;
                margin-left: -2em;
                width: 12px;
                height: 11px;
                overflow: hidden;
                border-radius: 0.05em;
                background-color: $color-white;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                box-shadow: 0 0 0 0.1em  $color-text-dark;
            }

            &__check:checked + .check__box {
                background-image: url(../images/checkbox.svg);
                box-shadow: 0 0 0 0.1em $color-blue;
                width: 12px;
                height: 11px;
            }

            &__button-submit{
                outline: none;
                display: block;
                margin-right: auto;
                margin-left: auto;
                margin-top: 6px;
                width: 200px;
                height: 50px;
                background-color: $color-blue;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 30px;
                color: $color-white;
                background: $color-blue;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                border: $color-blue;
                cursor: pointer;
            }
    }
}

.section1 {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/section_image.jpg");
    color: $color-white;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0px;
    margin-bottom: 94px;

        &__tittle {
            font-weight: 900;
            font-size: 44px;
            line-height: 60px;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: $color-white;
            margin-top: 0;
            margin-bottom: 30px;
        }

        &__button {
            border-style: none;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            background-color: $color-blue;
            color: $color-white;
            padding: 10px 32px;
            cursor: pointer;
            background: $color-blue;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            outline: none;
        }

  }

