    $color-blue:#2196f3;
    $color-text-dark: #212121;
    $color-white:#ffffff;
    $color-text:#757575;
    $color-section2-svg:#E5E5E5;
    $color-svg-section25:#F5F4FA;
    $color-svg-section45:#AFB1B8;







